<h1>Task list!</h1>

#if ($clients)
  <ul>
    #foreach ($client in $clients)
      <li><a href="/clients/$client.getId()">$client.getDescription()</a></li>
    #end
  </ul>
#else
  <p>No clients!</p>
#end

<a href="/clients/new">add new client</a>
<a href="/categories">Back to categories</a>
